*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 80px 400px;
}
header{
    background-color: rgb(219, 218, 218);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.marr{
    border: 1px solid black;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputt{
    display: flex;
    gap: 3px;
    justify-content: center;
    border-radius: 0px;
}